{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4KM Energy Services</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
     
    <!-- Navigation Bar -->
    <header>
        <div class="logo-container">
            <img src="{% static '/images/company_logo.png'%}" alt="4KM Energy Services Limited" class="logo-image"> 
            <span class="company-name">4KM Energy Services</span>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}" class="nav-item">Home</a></li>
                <li><a href="{% url 'about' %}" class="nav-item">About Us</a></li>
                <li><a href="{% url 'services' %}" class="nav-item active">Our Services</a></li>
                <li><a href="{% url 'contact' %}" class="nav-item">Contact</a></li>  
                
            </ul>

          



            <div class="menu-icon" onclick="toggleMenu()">☰</div>
        </nav>
    </header>
    
    
    <!-- Mobile Menu (Fixed) -->
    <div class="mobile-menu">
        <ul>
            <li><a href="{% url 'home' %}" class="nav-item">Home</a></li>
            <li><a href="{% url 'about' %}" class="nav-item">About Us</a></li>
            <li><a href="{% url 'services' %}" class="nav-item active">Our Services</a></li>
            <li><a href="{% url 'contact' %}" class="nav-item">Contact</a></li>
        </ul>
    </div>



    <!-- Hero Section -->
    <section class="hero">
        <div class="overlay"></div>
        <h2>Transforming Visions into Reality with Unmatched Precision & Excellence.</h2>
        <p>We deliver durable, cost-effective, and innovative construction solutions tailored to your needs.</p>
        <p>From concept to completion, we build with integrity, quality, and a commitment to exceeding expectations!</p>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>© 2025 4KM Energy Services Limited. All Rights Reserved.</p>
            <p>Email: <a href="4kmenergyserviceslimited@gmail.com">4kmenergyserviceslimited@gmail.com</a></p>
            <p>Tel: <a href="tel:+256772335579">+256 772 335 579</a> / <a href="tel:+256756335570">+256 756 335 570</a></p>
        </div>
    </footer>
    
    <script src="{% static '/js/script.js'%}"></script>
</body>
</html>