/* Reset and General Styles */
.container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3D6D94 50%, white 50%);
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

/* Main Content Wrapper */
.main-content {
    flex: 1;
    overflow: auto; /* Enable scrolling */
    padding: 120px 20px 40px; /* Adjusted bottom padding to avoid cutting content */
    position: relative;
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #FFD700;
    border-radius: 4px;
}

/* About Section Styling */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 50px 20px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #3D6D94 50%, white 50%);
    color: black;
    overflow-x: hidden;
}

.about-container {
    max-width: 900px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.about h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #3D6D94;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

/* Grid Layout */
.about-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.about-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 280px;
    max-width: 300px;
    transition: transform 0.3s;
}

.about-box:hover {
    transform: scale(1.05);
}

.about-box h2 {
    font-size: 1.5rem;
    color: #3D6D94;
    margin-bottom: 10px;
}

.about-box p, .about-box ul {
    font-size: 1.1rem;
    color: #444;
}

.about-box ul {
    list-style: none;
    padding: 0;
}

.about-box li {
    font-size: 1.1rem;
    padding: 5px 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .about-grid {
        flex-direction: column;
        align-items: center;
    }
}

/* Responsive Design for Small Devices */
@media (max-width: 768px) {
    .about-container {
        padding: 20px;
    }

    .about h1 {
        font-size: 2rem;
    }

    .about p {
        font-size: 1rem;
    }

    .about-grid {
        flex-direction: column;
        align-items: center;
    }

    .about-box {
        max-width: 100%;
        margin-bottom: 20px;
    }

    footer {
        padding: 10px;
    }
}

/* Responsive Design for Very Small Devices */
@media (max-width: 480px) {
    .about-container {
        padding: 15px;
    }

    .about h1 {
        font-size: 1.5rem;
    }

    .about p {
        font-size: 0.9rem;
    }

    .about-box {
        padding: 15px;
    }

    footer {
        padding: 5px;
    }
}
